<div id="blog_form_id" class="blog_form">
  <%= form_for(@blog,:url=>{:action=>@action, :controller => 'my_blog'}) do |f| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog.errors.count, "error") %>個の誤りがあります </h2>

      <ul>
      <% @blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
      <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :blog_uid %>(この値がブログURLに使われます)<br />
      <%= f.text_field :blog_uid %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
      <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
