<div id="task_detail" class="task_form">
<p>
  <b>タイトル:</b>
  <%= @task.title %>
</p>
<p>
  <b>概要:</b>
  <%= @task.description %>
</p>
<p>
  <b>状態:</b>
  <%= status_str(@task.status) %>
</p>
<p>
  <b>優先順位:</b>
  <%= priority_str(@task.priority) %>
</p>
<%= link_to '編集', edit_task_path(@task) %> 
</div>
