<menu class="menu_text">
<%= link_to_unless_current 'Topへ', {:action=>'index',:controller=>'top'} %>&nbsp;&nbsp;|&nbsp;&nbsp;
<%= link_to_unless_current 'やることリスト', {:action=>'index',:controller=>'jobs'} %>&nbsp;&nbsp;|&nbsp;&nbsp;
<%= link_to_unless_current 'グループ一覧', {:action=>'index',:controller=>'groups'} %>&nbsp;&nbsp;|&nbsp;&nbsp;
<%= link_to_unless_current 'ユーザ情報', {:action=>'show',:controller=>'profile',:id=>current_user.id} %>&nbsp;&nbsp;|&nbsp;&nbsp;
<% unless controller.controller_name=="top" %>
<div class="menu_text">
  <%=render "common/#{controller.controller_name}_menu" %>
</div>
<% end %>
</menu>

